Reliable Size can be greater than that specified by the application

We correctly remind that QUIC stacks might over-deliver, stating that: _As described in [Section 3.2](https://rfc-editor.org/rfc/rfc9000#section-3.2) of [[RFC9000](https://quicwg.org/reliable-stream-reset/draft-ietf-quic-reliable-stream-reset.html#RFC9000)], it MAY deliver data beyond that offset to the application._

But we do not explicitly state that QUIC stacks may over-deliver Reliable Size; i.e., the value might be greater than what is provided by the application, though I think that has always been our intent. I think it would be better to state that so that people using QUIC do not make the incorrect assumption.

Similarly, we should state that the error code might not get delivered to the peer application.

> Similarly, we should state that the error code might not get delivered to the peer application.

I'm assuming you're referring to the case where the receiver already sent a STOP_SENDING, and then receives a RESET_STREAM(_AT) that was already in flight. I don't think we should make any statements about what gets delivered to the application in that case. That's entirely between the QUIC stack and the application, and we don't need to place any requirements on their API contract.

@marten-seemann 
>> Similarly, we should state that the error code might not get delivered to the peer application.
> 
> I'm assuming you're referring to the case where the receiver already sent a STOP_SENDING, and then receives a RESET_STREAM(_AT) that was already in flight.

Not really.

I'm thinking of cases like a sender being CC-limited with a reset in its send queue. When the sender receives an ACK, the send state of the stream changes to "Data Recvd." Then, the sender does not send a RESET_STREAM(_AT) frame because the stream enters a terminal state ([RFC 9000 section 3.3](https://quicwg.org/base-drafts/rfc9000.html#section-3.3-2)).

> That's entirely between the QUIC stack and the application, and we don't need to place any requirements on their API contract.

Aside from what is being stated immediately above, I am not sure if I fully agree. It is true that API is out of scope of an RFC. But as we know, we state the properties that applications can rely on (or not) in [RFC 9000 section 2.4](https://quicwg.org/base-drafts/rfc9000.html#name-operations-on-streams), as such information would be helpful to the users.

The idea here is to follow this convention; to clarify the properties that applications can rely on, to reduce the risk of users writing code that assumes things because they just observed such behavior on the QUIC stack that they are using. We do not want to see that happen here (cf. https://github.com/quicwg/reliable-stream-reset/issues/32#issuecomment-1765365228).

> Aside from what is being stated immediately above, I am not sure if I fully agree. It is true that API is out of scope of an RFC. But as we know, we state the properties that applications can rely on (or not) in [RFC 9000 section 2.4](https://quicwg.org/base-drafts/rfc9000.html#name-operations-on-streams), as such information would be helpful to the users.

That's reasonable. This draft doesn't add any new caveats to what we have in RFC 9000 though:
* The error code might not be delivered because the stream state machine is only eventually consistent.
* More data might be delivered to the application.

#34 makes it sounds as if implementing this draft would change the guarantees that a QUIC stack can provide to the application. I'm concerned that this set off the alarm bells of implementers. Needlessly, as the properties remain exactly the same.

@marten-seemann Thanks I'll try to change the phrasing to be less frightening.