Add additional details in Spec for state tracking behavior

Hi! 

I was implementing RFC: https://datatracker.ietf.org/doc/draft-ietf-quic-reliable-stream-reset/ 
and had a few thoughts regarding support for the SENDER sending multiple CLOSE_STREAM frames to reduce ReliableSize. 

Perhaps the RFC could specify details related to ACK state tracking to help implementors? 

For instance, if a sender sends 100 CLOSE_STREAM frames with monotonically decreasing ReliableSize, how do we ensure that the receiver is synchronized with the minimum value of ReliableSize before the sender can close its stream?

There were 2 approaches I was considering:

1) Wait until all the CLOSE_STREAM frames get ACK'd, and then we can be sure the Receiver will have the minimum ReliableSize. 

2) Sender tracks all the CLOSE_STREAM frames sent via metadata, and when processing a CLOSE_STREAM ACK, the sender can check whether the metadata is the minimum ( == current ReliableSize state). 

I feel approach 2) is the most optimal as we can get lucky and the receiver can ACK the minimum CLOSE_STREAM frame first. 
Perhaps the RFC could go into more detail here?

As with all QUIC frames, it's not frames that are retransmitted. Therefore, there's no need to retransmit CLOSE_STREAM frames with a higher stream offset (though it's not invalid).

> As with all QUIC frames, it's not frames that are retransmitted. Therefore, there's no need to retransmit CLOSE_STREAM frames with a higher stream offset (though it's not invalid).

I think my question was a bit too implementation specific (apologies!).

Correct me if I am wrong (still learning haha), each packet contains a bunch of different frames, its the packets that get re-transmitted. We have a mechanism for tracking whether or not individual frames got ACK'd through some upstream packet logic and passing state information with metadata. 

The key question is (as a sender), when shall we close our stream? Well when we sent enough data (X == enough data) AND the receiver has ACK'd that we're closing once we sent X bytes! This gets tricky if a sender reduces X (which is allowed according to the protocol), and could lead to a sender closing prematurely (with a deadlocked receiver).

My original issue was about potentially adding more details to the RFC regarding how implementations could track this metadata logic. The way I did it was by storing on the sender side the ReliableSize it has sent, then onAck, if the lowest ReliableSize is ACK'd, that's when we are allowed to close the stream. 

I hope this clarifies my original issue a bit more :) 


> Correct me if I am wrong (still learning haha), each packet contains a bunch of different frames, its the packets that get re-transmitted.

That's not how it works, see section 13.3 of RFC 9000.



> The key question is (as a sender), when shall we close our stream? Well when we sent enough data (X == enough data) AND the receiver has ACK'd that we're closing once we sent X bytes! This gets tricky if a sender reduces X (which is allowed according to the protocol), and could lead to a sender closing prematurely (with a deadlocked receiver).

This is the same logic as you're using when sending a FIN: You have to retransmit stream data until you've transmitted all bytes up to the reliable offset (or final offset, in the case of FIN). I believe #28 added some guidance there.

Given that we already have text, I don't think we need to do anything else here. Closing the issue. Feel free to reopen if you disagree.

> This is the same logic as you're using when sending a FIN

One difference is that you _may_ want to support changing the reliable offset for RESET_AT, while I don't expect you'd ever want to support that for FIN. If you do support this behavior on the send side, then you need the more complicated state tracking Jack was alluding to.

So, I'd argue we either have text that says (1) you shouldn't support reducing the offset after you've already sent it or (2) we need logic explaining the pitfalls/complexities that result if you do.

Sure. Jack or I will propose some text, but do you have any thoughts as to the two options above? Personally, I do not think (2) is the way to go. Further, I'd say that there is no good reason do ever need to change the reliable offset once chosen. Either stick with that or completely abort the stream (normal reset). So, my preference would be to completely disallow this scenario. It would simplify things both on the sender and receiver side. What do you think?

(1) sounds like a completely separate issue, as it would remove an existing feature from the draft. We can have this discussion, but an issue that asks for editorial clarifications is not the right place for that.



> Either stick with that or completely abort the stream (normal reset).

As RESET_STREAM is just a degenerate case of RESET_STREAM_AT, this would still mean supporting changing the offset (to 0). In my implementation, reducing the offset doesn't complicate things at all, neither on the receiver nor on the sender side.

> (1) sounds like a completely separate issue

I opened https://github.com/quicwg/reliable-stream-reset/issues/32 to track this, and respond to your "doesn't complicate things at all" comment. Based on the direction that discussion goes, we may close this or make an editorial change.