Disallow Changing Reliable Offset to Different Non-zero Value

Currently, the draft allows for a sender to change the reliable offset for RESET_AT any number of times. I would argue:

1. There is no scenario that needs this.
2. This unnecessarily complicates the logic (more on this below).

Therefore, we should remove this "feature".

### Details

(2) above requires the following extra logic:

**Sender**

- Additional API logic to allow for an application to change the value, but only to a smaller value (documentation as well).
- Update the stream send-side state machine accordingly.
- Have per-packet RESET_AT acknowledgement tracking to know exactly which reliable offset has been acknowledged, instead of per-stream "ReliableResetAtAcked" state. This is required because you must be certain the peer is in sync, in the scenario where a offset reduction was no acknowledged, but the original offset was. In this case, if the sender does not track state appropriately (and instead just has a per-stream state), it could incorrectly think the peer has everything it needs to clean up the stream and then stop sending/retansmitting the necessary data; resulting in a deadlock.

**Receiver**

- Allow the change (checking for current state), instead of just erroring out.
- Update the stream recv-side state machine accordingly.
- (Possibly) additional API indications/events.




On one hand, I agree that supporting reduction of Reliable Size is a needless complication (see https://github.com/quicwg/reliable-stream-reset/pull/5).

At the same time, I do not mind too strongly, because QUIC stacks have the choice to not support reduction.

As we know, even though sending applications can request stream resets with error codes in QUIC v1, these error codes are not guaranteed to traverse to the receiving application.

Similarly, Reliable Size is not a reliable signal. Therefore, QUIC stacks can simply ignore reduction and stick to the old value.

So the only complication is on the receiver side in that we all have to allow reduction. Though, testing is also an issue depending on how you want to test it...

>  each QUIC stack has the choice to not support reduction.

That is unless some protocol tries to use this because it's documented. I have seen stuff like happen before and I don't want it to happen here.

> Similarly, Reliable Size is not a reliable signal. Therefore, QUIC stacks can simply ignore reduction and stick to the old value.

The value is ACK'ed, so it very much is a reliable value. A sender's retransmission logic absolutely depends on this to ensure the necessary data continues to be sent in the face of loss. But if the sender thinks it needs to send less than the peer thinks it needs to receive, you have a deadlock.

I think we should revive #5 and just eliminate these edge cases.

@nibanks I think we agree on the outcomes (#5 and #33), so it's good.

>> Similarly, Reliable Size is not a reliable signal. Therefore, QUIC stacks can simply ignore reduction and stick to the old value.
> 
> The value is ACK'ed, so it very much is a reliable value. A sender's retransmission logic absolutely depends on this to ensure the necessary data continues to be sent in the face of loss. But if the sender thinks it needs to send less than the peer thinks it needs to receive, you have a deadlock.

I think we are going down the weeds, but FWIW, use of ack-eliciting frames does not mean that the information is delivered to the peer.

RESET_STREAM is an ack-eliciting frame, but the sender is sometimes forbidden from sending it. When the sender is CC-limited, wants to send a reset, but receives an ACK transitioning the stream state to Data Recvd, the sender is forbidden to send a reset that it wanted to ([Section 3.3 of RFC 9000](https://quicwg.org/base-drafts/rfc9000.html#name-permitted-frame-types)).

Considering RESET_STREAM is an unreliable signal in this way, my preference goes to use the same design in RESET_STREAM_AT and clarify the fact in the specification.

> I think we are going down the weeds, but FWIW, use of ack-eliciting frames does not mean that the information is delivered to the peer.

I agree the ACK doesn't mean the app received the information, but it does mean the stack received it, which is the crucial part. It means you know the peer received a particular offset. If we support reducing the offset and a sender sends multiple offsets, it must use these ACKs to know what the lowest offset the peer has received; and use this information to continue sending to make sure the peer gets enough data to finish the reset.

> I agree the ACK doesn't mean the app received the information, but it does mean the stack received it, which is the crucial part. It means you know the peer received a particular offset. If we support reducing the offset and a sender sends multiple offsets, it must use these ACKs to know what the lowest offset the peer has received; and use this information to continue sending to make sure the peer gets enough data to finish the reset.

I don't think this is necessary. I wouldn't optimize for the case where you send a RESET_STREAM_AT with offset X and then another one with offset Y that tolerates the loss of Y and then continues sending all data up to X. This would indeed require quite a bit of extra logic.

Instead, here's an easy way to implement it: Your QUIC stacks has a way to keep track of the transmission status of RESET_STREAM(_AT) anyway. Tell that logic that the most recent RESET_STREAM(_AT) frame needs be retransmitted until has been acknowledged. This should require practically no extra code at all.

And if that's too much work, as @kazuho said, this feature is optional on the sender side. Your API can specify that `ResetAt` can only be called once per stream, and that would be a totally valid implementation of this extension.

The primary use case of this extension is in layered applications, where the different layers prefix a stream with an identifier that they wish to transmit reliably (e.g. the WebTransport session ID). Reducing the offset now gives a layer the option to back out from that commitment. This seems potentially useful, although I don't have a concrete use case for it (as in "protocol X can only be realized if we have this feature").
Allowing a reset to 0 seems inconsistent though: You're only allowing backing out when _all_ the layers agree on that. This might not be the case if your application is layered on top of WebTransport (assuming that WebTransport is not going away either).

@nibanks It seems like you're more concerned about the write side (where implementation is optional) than the read side. Can you elaborate why that is?

> The primary use case of this extension is in layered applications, where the different layers prefix a stream with an identifier that they wish to transmit reliably (e.g. the WebTransport session ID). Reducing the offset now gives a layer the option to back out from that commitment. This seems potentially useful, although I don't have a concrete use case for it (as in "protocol X can only be realized if we have this feature").

I agree the point of this extension is supporting that ID prefix notion at the app layer. I also agree that there might be a case where they decide to abandon/reset the stream entirely, i.e. send a normal RESET_STREAM. But I can't imagine a realistic scenario where you would reduce to a non-zero value. "Hey, please deliver our 4-byte offset. Wait! How about just 2 bytes now."

> Allowing a reset to 0 seems inconsistent though: You're only allowing backing out when all the layers agree on that. This might not be the case if your application is layered on top of WebTransport (assuming that WebTransport is not going away either).

IMO, having two ways to do the same thing just adds complexity. I'd argue that we could solve this "problem" by stating RESET_STREAM_AT with a value of 0 offset is invalid (or refactor the interpretation such that 0 is impossible), and simply require you use RESET_STREAM for this purpose always. This "fixes" the problem of allowing reduction partially (just to 0).

> @nibanks It seems like you're more concerned about the write side (where implementation is optional) than the read side. Can you elaborate why that is?

It's unnecessary complexity. And while we might view it as optional right now, (1) a future spec possibly will take advantage of this in the future, making it a requirement for QUIC stacks that must support the scenario, but (2) more generally, our goal with MsQuic has always been to fully expose all possible spec behavior via our API.

In general, IMO, we should only add features/complexity to the protocol when we have an argument for it, and not have to make justifications in the reverse. And since there is no justification **for** reduction that anyone knows, I argue for its removal.

@nibanks 
> IMO, having two ways to do the same thing just adds complexity. I'd argue that we could solve this "problem" by stating RESET_STREAM_AT with a value of 0 offset is invalid (or refactor the interpretation such that 0 is impossible), and simply require you use RESET_STREAM for this purpose always. This "fixes" the problem of allowing reduction partially (just to 0).

To me, special casing Reliable Size = 0 seems to be a complexity.

RESET_STREAM_AT is a signal to reset the stream at certain offset. Once all bytes up to Reliable Size and RELIABLE_STREAM_AT frame are acknowledged, the sender discards the state. On the receiver side we have similar logic.

This logic works for any offset, including zero. So why do we need to disallow that?

Specifically, I might ask if there is a reason to disallow that at the protocol specification level to enforce all the QUIC stacks the same way, when endpoints that prefer one way can simply convert RESET_STREAM_AT(0) to RESET_STREAM internally (or vice versa).

Discussed at IETF 118 in Prague, the conclusion in the room was to keep the text as is.